clients/mobile/www/app/*
clients/mobile/www/core/*
clients/mobile/platforms/*
clients/web/app/*
clients/web/core/*
clients/desktop/app/*
clients/desktop/core/*
clients/desktop/exe
clients/*/vendor
clients/*/uniter_bundle
clients/*/node_modules
clients/*/vendor
clients/*/composer.lock
clients/*/package-lock.json
